.BF {
    margin-top:20px;
    
}


    


    .BF_content {
        display: flex;
        flex-direction:row;
        margin-top: 160px;
        justify-content: center;
        gap: 130px;
        align-items: center;
    }




    .BF_content2 {
        display: flex;
        flex-direction:row;
        margin-top: 80px;
        justify-content: center;
        gap: 140px;
    }

        .BF_imgbox{
            display: flex;
            flex-direction: row;
            gap: 94px;
        }
        
        
        .BF_img {
            height: 100%;
            min-width: 147px;
        }
    
        .BF_img2 {
            height: 100%;
            min-width:390px ;
        }

        
        .BF_img > img {
                height: 254px; 
            }

             
        .BF_img2 > img {
            height: 254px; 
        }

        .BF_txtbox {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

            .BF_txtbox > h2 {
                font-size: 30px;
                color: #7868e6;
                font-weight: bold;
                margin-bottom: 30px;
            }

            .BF_txt {
                display: flex;
                gap: 32px;
                width: 100%;
            }
            
            .BF_txt > p {
                line-height: 22px;
                font-size: 18px;
                font-weight: Regular;
                }

                .BF_txt > img {
                    width: 20px;
                    height: 15px;
                    margin-left:6px;
                    margin-top: 6px;
                }




                @media (max-width:1000px) {
                    .BF_content {
                        display: flex;
                        flex-direction:column;
                        margin-top: 160px;
                        justify-content: center;
                        gap: 20px;
                        align-items: center;
                    }
            
                    .BF_content2 {
                        display: flex;
                        flex-direction:column;
                        margin-top: 80px;
                        justify-content: center;
                        gap: 20px;
                        align-items: center;
                    }
                }