footer {
    color: white;
    position: absolute;
    background-color:rgba(68, 68, 68, 0.8);
    width: 100%;
    height: 120px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

    .footer_content {
        display: flex;
        flex-direction: column;
        gap:24px;
        white-space : nowrap;
        font-weight: Regular;
        
    }
    
    .footer_h  {
        display: flex;
        flex-direction: row;
        gap: 4vw;
        font-size: 18px;
    }
    
    .footer_h > nav > a {
        color: white;
        font-size:14px
        }

        .footer_h > nav:active {
            transform: translate(2px,2px);
            }


        .footer_b {
            display: flex;
            flex-direction:row;
            gap:3vw;
            font-size: 11px;
        }

            .footer_b1 {
                display: flex;
                gap: 5vw;
            }

            .footer_b2 {
                display: flex;
                gap: 5vw;
            }

            @media (max-width:1000px) {
                .footer_b {
                    display: flex;
                    flex-direction:column;
                    gap:1vw;
                    font-size: 6px;
        
                }

                .footer_h  {
                    gap: 2vw;
                    font-size: 14px;
                }


            }

            @media (max-width:499px) {
                .footer_b {
                    font-size:8px
                }

                .footer_h  {
                    font-size: 8px;
                }
            }