.main {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction:column
}
    .main_head {
        text-align: center;
    }
        .main_head_h {
            display: flex;
            flex-direction: column;
            color: #7868e6;
            font-weight: bold;
            margin-top:146px
        }

            .main_head_h > h1 {
                font-size: 50px;
                line-height: 54px;
            }


        .main_head_txt {
            margin-top: 58px;
        }

            .main_head_txt > p {
                line-height: 32px;
                font-size: 24px;
                font-weight: Regular;
            }

            .main_head_txt > p > strong {
                font-weight: bold;
            }



            @media (max-width:1000px) {

                .main_head_h > h1 {
                    font-size: 40px;
                    line-height: 46px;
                }
    
                .main_head_txt > p {
                    line-height: 28px;
                    font-size: 20px;
                    font-weight: Regular;
                }
    
                .main_head_txt > p > strong {
                    font-weight: bold;
                }
    
            }

            @media (max-width:499px) {
                .main_head_h > h1 {
                    font-size: 30px;
                    line-height: 36px;
                }

                .main_head_txt > p {
                    font-size: 16px;
                    line-height: 18px;
                }
            }