.FAQ {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 148px;
}

    .FAQ_content {
        display: flex;
        flex-direction: row;
        margin-top: 114px;
        gap: 20px;
        align-items: center;
        
    }

        .QnA_contaner {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .QnA {
            display: flex;
            flex-direction: column;
            color: #7868e6;
            text-align: left;
            gap: 22px;
        }

        .QnA > h2{
            font-size: 30px;
            font-weight: bold;
        }
        
        .QnA_Q{
            
                font-size: 30px;
                font-weight: bold;
                display: flex;
                flex-direction: row;
                line-height: 36px;
                gap: 16px;
            }
            
            
            .QnA_Q > h3{
                font-size: 24px;
                margin-top: 4px;

            }


            .QnA_A{
                display: flex;
                flex-direction: row;
                gap: 16px;
            }

            .QnA_A > h2 {
                font-size: 30px;
                font-weight: bold;
            }

            .QnA_A > p{
                color: black;
                font-size: 20px;
                line-height: 24px;
                font-weight: Regular;
            }


    .FAQ_img {
        margin-top: 140px;
        width: 100%;
    }
    
    .FAQ_img {
        width: 378px;
        }





        @media (max-width:1000px) {
            
        .FAQ_content {
            display: flex;
            flex-direction: column-reverse;
            margin-top: 114px;
            gap: 20px;
            align-items: center;
    }

    .FAQ_img {
        margin-top: 20px
    }

    .QnA_contaner{
        margin-top: 40px;
    }

    .QnA_Q{
            
        font-size: 30px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        line-height: 36px;
        gap: 8px;
    }


    .QnA_A{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

         
        .QnA_Q > h3{
                font-size: 20px;
                margin-top: 4px;
            }



        .QnA_A > p{
           color: black;
           font-size: 16px;
           line-height: 20px;
           font-weight: Regular;
        }



        }


        
@media (max-width:499px) {
    .FAQ_img {
        width: 70%;
        }


        .QnA_Q > h3 {
            font-size:16px
        }

        .QnA_A > p {
            font-size:8.6pt
        }


}